<ion-header>
  <ion-toolbar>
    <ion-title> Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-button color="danger" small href='./'>Cancel Order</ion-button>
<ion-content>
  <ion-segment scrollable [value] = "selectedRestaurant" (ionChange) = "onRestaurantChange ($event)">
   <ion-segment-button *ngFor= "let category of categories" [ value ] = "category">
     {{category}}
     </ion-segment-button>
  </ion-segment>
  <!-- <ion-card *ngFor = "let product of viewProducts">

    <ion-card-content class = "no-padding" click = "onProductClick()">
      <img [src] = "product.imgPath" height="200px" width="100%" alt = "image">
    </ion-card-content>
    <ion-card-header>
      <ion-card-subtitle> {{product.name}}</ion-card-subtitle>
      <ion-card-title> $ {{product.price}}</ion-card-title>
    </ion-card-header>
  </ion-card> -->


  <ion-card-content >
    <ion-item>
      <ion-label> classicHamburger</ion-label>
      <p>$ 14.50 </p>
      <ion-checkbox color="dark" checked="false"></ion-checkbox>
    
    </ion-item>
   
    
 </ion-card-content> 
 
 <ion-card-content >
  <ion-item>
    <ion-label> burger</ion-label>
    <p>$ 11.50 </p>
    <ion-checkbox color="dark" checked="false"></ion-checkbox>
  
  </ion-item>
 
  
</ion-card-content> 

<ion-card-content >
  <ion-item>
    <ion-label> Chicken McNuggets</ion-label>
    <p>$ 4.49 </p>
    <ion-checkbox color="dark" checked="false"></ion-checkbox>
  
  </ion-item>
 
  
</ion-card-content>   

<ion-card-content >
  <ion-item>
    <ion-label>Big Mac</ion-label>
    <p>$ 3.39 </p>
    <ion-checkbox color="dark" checked="false"></ion-checkbox>
  
  </ion-item>
 
 
</ion-card-content> 
  
<ion-card-content >
  <ion-item>
    <ion-label> 2 Cheeseburgers - Meal</ion-label>
    <p>$ 6.59</p>
    <ion-checkbox color="dark" checked="false"></ion-checkbox>
  
  </ion-item>
 
  
</ion-card-content>  
<ion-card-content >
  <ion-item>
    <ion-label> Chicken McNuggets - Meal</ion-label>
    <p>$ 6.49 </p>
    <ion-checkbox color="dark" checked="false"></ion-checkbox>
  
  </ion-item>
 
  
</ion-card-content>  
  
<ion-card-content >
  <ion-item>
    <ion-label> French Fries</ion-label>
    <p>$ 1.69 </p>
    <ion-checkbox color="dark" checked="false"></ion-checkbox>
  
  </ion-item>
 
 
</ion-card-content> 
<ion-card-content >
  <ion-item>
    <ion-label> Iced Coffee</ion-label>
    <p>$ 1.39 </p>
    <ion-checkbox color="dark" checked="false"></ion-checkbox>
  
  </ion-item>
 
 
</ion-card-content> 
<ion-card-content >
  <ion-item>
    <ion-label> Iced Coffee</ion-label>
    <p>$ 1.39 </p>
    <ion-checkbox color="dark" checked="false"></ion-checkbox>
  
  </ion-item>
 
 
</ion-card-content> 
<ion-button  expand="full" color="success"  href= './address' (click)="check()" >Place Order</ion-button> 
</ion-content>