<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>checkout</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-back-button defaultHref="./restaurant.page"></ion-back-button>
  <app-info-product></app-info-product>
  <!-- <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
  </style> -->

</ion-content>
<ion-footer>
 <div class = "flex-item-center">
  <div class = "flex2 flex-middle">
    <ion-text color = "secondary">
      <span> Sub Total {{350}}</span>
    </ion-text>
  </div>
  <div class = "flex1">
    <ion-button expand = "full " fill = "solid "> Checkout </ion-button>
  </div>
 </div>
</ion-footer>