<ion-header>
  <ion-toolbar>
    <ion-title>delivery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <h1>Your deliever 
  will arrive in :</h1>
<h3> 25 - 30 minutes</h3> 

<ion-icon name="car"></ion-icon>
<ion-icon name="arrow-forward"></ion-icon>
<ion-icon name="home"></ion-icon> 

</ion-content>
<div>{{lol}}</div>
<ion-content>
  <div>
  <h1> Comfirm Order:</h1>
  <h2> Did you recieve your food?</h2>
  <ion-button color="secondary" href= '/' clear >YES</ion-button>
  </div>
</ion-content>
